@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#191a1f];
  }
}

@layer components {
  .form-control {
    @apply block w-full py-[.5rem] px-[1rem] text-sm leading-7 text-gray-200 appearance-none bg-[#191a1f] bg-clip-padding border border-gray-600 rounded-md  transition duration-150 ease-in-out;
  }
  .avatar {
    @apply w-[4rem] h-[4rem] inline-block relative mt-[-3rem];
  }

  .Toastify__toast-container {
    max-width: 320px !important;
    width: 70% !important;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }
  .text-success {
    @apply text-green-500;
  }
  .text-info {
    @apply text-blue-500;
  }
}

@theme {
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 64rem;
  --container-2xl: 80rem;

  --animate-fade-in-scale: slide 2s ease-out;
  @keyframes slide {
    0% {
      left: -50%;
    }
    50% {
      left: 50%;
    }
    100% {
      left: 100%;
    }
  }
}
